.r-fullview {
    height: 100vh;
    width: 100vh;
}

.r-maincontent-background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 90%;
    background-image: url('../icons/HintergrundReg.png');
    background-size: cover;
    background-position: center;
    text-align: center;
}

.r-maincontent_container {
    position: relative;
    top: 10%;
    height: 80%;
    width: 40%;
    display: inline-block;
    background-color: rgba(236, 236, 236, 0.8);
    border-radius: 14px;
    border-style: solid;
    border-color: #000;
}

.r-header_container {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.r-header {
    width: 80%;
}

.r-form_container {
    height: 50%;
    width: 100%;

}

.r-submit_container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}


.r-error-message_container {
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.r-error-message {
    width: 100%;
}

.r-AGBcheck_container {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 100%;
}

.r-button_container {
    position: absolute;
    bottom: 0;
    height: auto;
    width: 100%;
    margin-bottom: 10%;
}

.r-loginbutton_container {
    height: 4vh;
    margin-bottom: 1vh;
    margin-top: 1vh;
}